.warehouseInfo{
    width: 100%;
    background-color: #202020;
    margin: 0 auto;
}

.container{
    padding: 20px 10px 20px 10px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.container div{
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* max-width: 900px; */
    border-radius: 10px;
    border: solid 0.5px rgba(255,255,255,0.5);
}

.container h1{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.container h2, 
.container p{
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 7px;
}

@media screen and (max-width: 570px){
    .container div {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
